# Xcode
*.xcuserstate
xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
*.moved-to-trash

# macOS
.DS_Store
.AppleDouble
.LSOverride
*.icloud

# Build artifacts
build/
*.o
*.d

# Backup folder
HeadingsMap 2026-02-22 23-17-30/
